.link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: whitesmoke;
  padding: 10px 40px;
  transition: all 0.3s ease-in-out;
  clip-path: polygon(0 0%, 80% 0%, 100% 100%, 20% 100%);

  margin: 0 -10px;
}
.link:hover {
  background: #000;
}

.link-active.link {
  background-color: antiquewhite;
}
.link-active:hover {
  color: #e21f2f;
}

.header {
  background: #1f425d;
  padding: 25px 0;
}
