.link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: whitesmoke;
  padding: 0 10px;
}
.link:hover {
  color: #E21F2F;
}

.link-active {
  color: #f48460;
  font-weight: 700;
  font-size: 1.5rem;
}
.link-active:hover {
  color: #f48460;
}

.header {
  background: #1F425D;
  padding: 25px 0;
}
