.link {
  text-decoration: none;
  font-weight: 700;
  color: whitesmoke;
  padding: 20px 10px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.header {
  background: #232331;
  padding: 25px 0;
}


@media (min-width: 992px) {
  .link {
    padding: 20px 40px;
    clip-path: polygon(0 0%, 80% 0%, 100% 100%, 20% 100%);
    position: relative;
    transition: all 0.5s ease-in-out;
    margin: 0 -20px;
  }
  .link-active, .link:hover {
    color: rgb(255, 255, 255);
  }

  .link::after {
    content: "";
    background-color: #4f4f5a;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: skew(32deg) scaleX(0);
    transition: all 0.5s ease-in-out;
  }
  .link-active::after, .link:hover::after {
    transform: skew(32deg) scaleX(1);
  }
}
